.App {
  text-align: center;
}
*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.fullpage{
  display: flex;
  height: 100vh;
  align-items: center;
  flex: auto;
  justify-content: center;
  flex-direction: column;
}
.first {
  color: aliceblue;
  background-color:blue;
}
.second{
  background-color: gold;
  color: blueviolet;
}
.second p{
  width: 70%;
}
.thrid{
  background-color: crimson;
  color: black;
}
.thrid h1{
  color: white;
}
.cards-wrapper{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin-top: 3rem;
  flex-wrap: wrap;
}
.card{
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 120px;
  transition: 0.5s;
}
img{
  margin-top: 2rem;
  width: 4rem;
  height: 3rem;
}
h1{
  font-size: 3rem;
}
.card:hover{
  margin-top: -2rem;
}